[Unit]
Description=Telegram Post Maker For Inner Use In Kostanay News
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/kstnws/kstnws_posto/
ExecStart=/home/debian/.config/python/bin/python3.10 /home/debian/kstnws/kstnws_posto/main.py
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
